/* You can add global styles to this file, and also import other style files */
*{
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
}

.container{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.logo-font{
    background-color: rgb(255, 255, 255);
}
.navbar navbar-light{
    color: rgb(0, 0, 0);
}
.navbar
{
    color: rgb(0, 0, 0);
}
.color{
    font-size: 20px;
    font-style: none;
    color: red;
    cursor: pointer;
}